<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fichas dos Alunos | Sistema de Controle de Academias</title>
    <link rel="stylesheet" href="fichaAlunoStyle.css">
</head>
<body>
    <header>
        <a href="verAlunos.html"><img src="https://cdn-icons-png.flaticon.com/512/93/93634.png"></a>
        <a href="login.html" class="logout"><img src="https://cdn-icons-png.flaticon.com/512/1330/1330162.png"></a>
    </header>

    <h1>Fichas dos Alunos</h1>
    <br>

    <p class="nomeFicha">João da Silva</p>
    <p class="editar">Editar</p>

    <p class="nomeFicha">José dos Santos</p>
    <p class="editar">Editar</p>
    
    <p class="nomeFicha">Juliana Araújo</p>
    <p class="editar">Editar</p>
    
    <p class="nomeFicha">Enzo Torres</p>
    <p class="editar">Editar</p>
    
    <p class="nomeFicha">Valentina Torres</p>
    <p class="editar">Editar</p>

    
    <footer>Desenvolvido por Ana Clara Oliveira Fernandes (1-2023127125) | Iasmin Campos Tabosa (1-2023126865)
        |  Yanna Kelly Alcantara Sampaio(1-2023127234)</footer>
</body>
</html>