<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início | Sistema de Controle de Academias</title>
    <link rel="stylesheet" href="telaInicialStyle.css">
</head>
<body>
    <header>
        <a href="perfil.html" class="img1"><img src="https://cdn-icons-png.flaticon.com/512/11789/11789135.png"></a>
        <a href="login.html" class="logout"><img src="https://cdn-icons-png.flaticon.com/512/1330/1330162.png"></a>
    </header>

    <div class="bloco1">
        <a href="perfil.html">
        <div class="quadrado">
            </div></a>
        <p>Ver conta</p>
    </div>

    <div class="bloco2">
        <a href="verAlunos.html">
        <div class="quadrado">
            </div></a>
        <p>Ver Alunos</p>
    </div>

    <div class="bloco3">
        <div class="quadrado">
            </div>
        <p>Identificação Facial</p>
    </div>

    
    <footer>Desenvolvido por Ana Clara Oliveira Fernandes (1-2023127125) | Iasmin Campos Tabosa (1-2023126865)
        |  Yanna Kelly Alcantara Sampaio(1-2023127234)</footer>
</body>
</html>