<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="verAlunosStyle.css">
    <title>Ver Alunos | Sistema de Controle de Academias</title>
</head>
<body>
    <header>
        <a href="telaInicial.html"><img src="https://cdn-icons-png.flaticon.com/512/93/93634.png"></a>
        <a href="login.html" class="logout"><img src="https://cdn-icons-png.flaticon.com/512/1330/1330162.png"></a>
    </header>

    <h1>Alunos</h1>

    <div class="bloco1">
        <a>
        <div class="quadrado">
            </div></a>
        <p>Exibir alunos</p>
    </div>

    <div class="bloco2">
        <a>
        <div class="quadrado">
            </div></a>
        <p>Adicionar aluno</p>
    </div>
    
    <div class="bloco3">
        <div class="quadrado">
            </div>
        <p>Editar aluno</p>
    </div>

    <div class="bloco4">
        <div class="quadrado">
        </div>
    <p>Excluir aluno</p>
    </div>

    <div class="bloco5">
        <a href="fichaAluno.html">
        <div class="quadrado">
        </div></a>
    <p>Ver fichas dos alunos</p>
    </div>

    <div class="bloco6">
        <a href="registro.html">
        <div class="quadrado">
        </div></a>
    <p>Ver registro de mensalidades</p>
    </div>  

    <footer>Desenvolvido por Ana Clara Oliveira Fernandes (1-2023127125) | Iasmin Campos Tabosa (1-2023126865)
        |  Yanna Kelly Alcantara Sampaio(1-2023127234)</footer>
</body>
</html>